<nav>
    <ul>
        <li><button id="abrirChamado">Abrir novo chamado</button></li>
        <li>
            <select id="tipoPesquisa">
                <option value="nome_solicitante">Nome do Solicitante</option>
                <option value="departamento">Departamento</option>
                <option value="prioridade">Prioridade</option>
                <option value="responsavel_chamado">Responsável pelo Chamado</option>
            </select>
        </li>
        <li><input type="text" id="barraPesquisa" placeholder="Pesquisar chamados por qualquer dado..."></li>
        <li><button id="pesquisarChamadosBtn">Pesquisar Chamados</button></li>
        <li id="resultadoPesquisa"></li>
    </ul>
</nav>
