body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #f4f4f4;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #ddd;
}

.aba {
    display: none;
}

.aba:first-child {
    display: block;
}

@media screen and (min-width: 768px) {
    .aba {
        display: block;
    }
}

/* Estilos para o formulário de criação de chamados */

#formCriarChamado {
    max-width: 800px;
    min-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#formCriarChamado label {
    width: calc(50% - 10px);
    margin-bottom: 5px;
}

#formCriarChamado input[type="text"],
#formCriarChamado select {
    width: calc(50% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#formCriarChamado button {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#formCriarChamado button:hover {
    background-color: #45a049;
}
/* Estilos para os h2 dentro das abas */
.aba h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

