<section id="listar-chamados" class="aba">
    <h2>Chamados</h2>
    <table id="tabelaChamados">
        <thead>
            <tr>
                <th>ID</th>
                <th>Data e Hora de Abertura</th>
                <th>Nome do Solicitante</th>
                <th>Contato do Solicitante</th>
                <th>Departamento</th>
                <th>Prioridade</th>
                <th>Descrição do Problema</th>
                <th>Comentários do Solicitante</th>
                <th>Anexos</th>
                <th>Notas Internas</th>
                <th>Responsável pelo Chamado</th>
                <th>Estado do Chamado</th>
                <th>Data e Hora de Resolução</th>
            </tr>
        </thead>
        <tbody id="corpoTabelaChamados">
            <!-- Linhas da tabela de chamados aqui -->
        </tbody>
    </table>
</section>
